<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <PdfiumViewer.Demo.Properties.Settings>
            <setting name="showToolbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="file" serializeAs="String">
                <value>C:\Users\use\Desktop\TRAINING TOOLS\Destinatin Marketing.pdf</value>
            </setting>
            <setting name="F1State" serializeAs="String">
                <value>Maximized</value>
            </setting>
            <setting name="F1Location" serializeAs="String">
                <value>150, 150</value>
            </setting>
            <setting name="F1Size" serializeAs="String">
                <value>858, 542</value>
            </setting>
            <setting name="lastUpdateDate" serializeAs="String">
                <value>09/06/2022 19:46:44</value>
            </setting>
        </PdfiumViewer.Demo.Properties.Settings>
    </userSettings>
</configuration>